# Exclude bin, build and test directories.
bin
build
test
# Exclude dependency and object files.
*.d
*.o
# Exclude executables.
ncServer
ncClient
# Exclude backup files (at least for Dia).
*~
# Exclude the usersFile for the time being.
nchatUsers
# Exclude the gdb history file.
.gdb_history
# Exclude compile_commands.json
compile_commands.json
